<form action="/auth/register" method="POST"   class="row g-3">
   <div class="col-12">
    <label for="inputNick" class="form-label">Nick</label>
    <input  name="nick" type="text" class="form-control" id="inputNick" placeholder="Jperez">
  </div>
    
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" aria-placeholder="juan.perez@gmail.com">Email</label>
    <input name="email" type="email" class="form-control" id="inputEmail">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="inputPassword">
  </div>
  <div class="col-12">
    <label for="inputName" class="form-label">Name</label>
    <input  name="name" type="text" class="form-control" id="inputName" placeholder="Juan">
  </div>
  <div class="col-12">
    <label for="inputLastname" class="form-label">Lastname</label>
    <input name="lastname" type="text" class="form-control" id="inputLastname" placeholder="Perez">
  </div>
 
  
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>