
{{#if token}}
<div class="container">
<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white mx-2">
            <i class="far fa-image"> Upload and image</i>
        </h3>

    </div>
    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="file" name="fileImage" class="form-control" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon" required>

                </div>
            </div>
            <div class="form-group">
                <input type="text" name="title" class="form-control mb-3" placeholder="Title for the image" required>
            </div>

            <div class="form-group">
                <textarea name="description" class="form-control mb-3" rows="2" placeholder="Description for the Image"
                    required></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <i class="far fa-image"> Upload image</i>

                </button>

            </div>

        </form>

    </div>
</div>
    
</div>

{{/if}}

